/**
 * Syntax highlighting styles
 */
    .highlight {
    background: $background-color;
    @extend %vertical-rhythm;
.hll { background-color: #ffffcc }
 
.err /* Error */
{ color: #a61717; background-color: #e3d2d2 }
 
.gs  /* Generic.Strong */
{ font-weight: bold }
 
.k,  /* Keyword */
.ow, /* Operator.Word */
.gd, /* Generic.Deleted */
.ge, /* Generic.Emph */
.kc, /* Keyword.Constant */
.kd, /* Keyword.Declaration */
.kn, /* Keyword.Namespace */
.kp, /* Keyword.Pseudo */
.kr, /* Keyword.Reserved */
{ color: #50b585; } 

.o  /* Operator */
{ color: #2f6f45; }
 
.gi  /* Generic.Inserted */
{ color: #000000; background-color: #ddffdd }
 
.nt  /* Name.Tag */
{ color: #000080 }
 
.no, /* Name.Constant */
.na, /* Name.Attribute */
.nv, /* Name.Variable */
.vc, /* Name.Variable.Class */
.vg, /* Name.Variable.Global */
.vi  /* Name.Variable.Instance */
{ color: #905080 }
 
.nb  /* Name.Builtin */
{ color: #9876AA }

.sr  /* Literal.String.Regex */
{ color: #009926 }
 
.m,  /* Literal.Number */
.il, /* Literal.Number.Integer.Long */
.mf, /* Literal.Number.Float */
.mh, /* Literal.Number.Hex */
.mi, /* Literal.Number.Integer */
.mo  /* Literal.Number.Oct */
{ color: #009999 }
 
.nd  /* Name.Decorator */
{ color: #3c5d5d; font-weight: bold }
 
.kt, /* Keyword.Type */
.nc  /* Name.Class */
{ color: #445588; font-weight: bold }
 
.nn, /* Name.Namespace */
.gp  /* Generic.Prompt */
{ color: #555555 }
 
.ni  /* Name.Entity */
{ color: #800080 }
 
.go  /* Generic.Output */
{ color: #888888 }
 
.ne, /* Name.Exception */
.nf, /* Name.Function */
.nl  /* Name.Label */
{ color: #0085FF; font-style: bold }
 
.ss  /* Literal.String.Symbol */
{ color: #990073 }
 
.c,  /* Comment */
.cm, /* Comment.Multiline */
.c1, /* Comment.Single */
{ color: #999988; font-style: italic }
 
.bp, /* Name.Builtin.Pseudo */
.gh  /* Generic.Heading */
{ color: #999999 }
 
.cp, /* Comment.Preproc */
.cs  /* Comment.Special */
{ color: #999999; font-weight: bold; font-style: italic }
 
.gt, /* Generic.Traceback */
.gr  /* Generic.Error */
{ color: #aa0000 }
 
.gu  /* Generic.Subheading */
{ color: #aaaaaa }
 
.w  /* Text.Whitespace */
{ color: #bbbbbb }
 
.s,  /* Literal.String */
.s1, /* Literal.String.Single */
.sb, /* Literal.String.Backtick */
.sc, /* Literal.String.Char */
.sd, /* Literal.String.Doc */
.s2, /* Literal.String.Double */
.se, /* Literal.String.Escape */
.sh, /* Literal.String.Heredoc */
.si, /* Literal.String.Interpol */
.sx  /* Literal.String.Other */
{ color: #FF973C }

}
